<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homee.css">
    <title>HOME</title>
</head>
<body>
    <header>
        <h1 class="centered">HOME</h1>
        <h2 class="centered">Linhas</h2>
    </header>

    <main>
        <table>
        <tr> <th>A168</th> <th>Ralip</th> <th>Graziella</th></tr>
        <tr> <th>A256</th> <th>Ralip</th> <th>Tupanci</th></tr>
        <tr> <th>A268</th> <th>Benfica</th> <th>Vale do Sol</th></tr>
        <tr> <th>A345</th> <th>Ralip</th> <th>Rua Da Prata</th></tr>
        </table>
    </main>
</body>
</html>
